<!-- Services Section -->
    <section class="py-5 bg-body-tertiary">
        <div class="container">
            <div class="row g-4 text-center">
                <!-- Servicio 1 -->
                <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                    <div class="p-3 w-100">
                        <img src="iconos/Recurso16.png" class="img-fluid mb-3 mx-auto d-block" alt="Eco-Friendly">
                        <h5 class="fw-semibold">Oferta 1</h5>
                    </div>
                </div>

                <!-- Servicio 2 -->
                <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                    <div class="p-3 w-100">
                        <img src="iconos/Recurso17.png" class="img-fluid mb-3 mx-auto d-block" alt="Wash & Fold">
                        <h5 class="fw-semibold">Oferta 2</h5>
                    </div>
                </div>

                <!-- Servicio 3 -->
                <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                    <div class="p-3 w-100">
                        <img src="iconos/Recurso18.png" class="img-fluid mb-3 mx-auto d-block" alt="Pickup & Delivery">
                        <h5 class="fw-semibold">Oferta 3</h5>
                    </div>
                </div>

                <!-- Servicio 4 -->
                <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                    <div class="p-3 w-100">
                        <img src="iconos/Recurso19.png" class="img-fluid mb-3 mx-auto d-block" alt="Eco-Friendly">
                        <h5 class="fw-semibold">Oferta 4</h5>
                    </div>
                </div>

                <!-- Servicio 5 -->
                <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                    <div class="p-3 w-100">
                        <img src="iconos/Recurso20.png" class="img-fluid mb-3 mx-auto d-block" alt="Wash & Fold">
                        <h5 class="fw-semibold">Oferta 5</h5>
                    </div>
                </div>

                <!-- Servicio 6 -->
                <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                    <div class="p-3 w-100">
                        <img src="iconos/Recurso21.png" class="img-fluid mb-3 mx-auto d-block" alt="Pickup & Delivery">
                        <h5 class="fw-semibold">Oferta 6</h5>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <a href="#" class="btn btn-outline-primary">Conocer más →</a>
            </div>
        </div>
    </section>